/* Basic properties. */
* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 300%;
  color: white;
  overflow: hidden;
}

body {
  z-index: 0;
  background-image: url("https://images4.alphacoders.com/155/155784.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100%
}

/* All properties of the basic playfield. */
.playfield {
  float: left;
  height: 47.5%;
  width: 100%;
  z-index: 0.1;
}
.player2 {
  background-color: rgba(0, 184, 0, 0.9);
}
.player1 {
  background-color: rgba(255, 123, 0, 0.9);
}

.middelLine {
  background-color:  rgba(0, 110, 255, 0.9);
  z-index: 0.1;
  width: 100%;
  height: 5%;
  float: left;
}

.infoBox {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 4%;
  height: 7.5%;
  margin: 22.8% 0 0 5.5%;
  border-radius: 25%;
  font-size: 37.5%;
  font-family: Merriweather;
  color: rgb(0,0,0);
  z-index: 1.1;
}

.infoBox .tooltip {
  visibility: hidden;
  width: 500%;
  background-color: black;
  color: #fff;
  text-align: left;
  position: absolute;
  z-index: 2 !important;
  font-size: 35%;
  font-family: times;
  opacity: 0.9;
  padding: 5%;
  top: -90%;
  left: 105%;
}

.infoBox:hover .tooltip {
  visibility: visible;
}

.textBox {
  position: absolute;
  background-color: rgb(0, 255, 255);
  width: 15%;
  height: 8.8%;
  margin: 22.5% 0 0 23.75%;
  border-radius: 25%;
  font-size: 37.5%;
  color: rgb(0,0,0);
  z-index: 1.1;
}

.restartButton {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 10%;
  height: 6%;
  margin: 22.8% 0 0 88%;
  border-radius: 25%;
  font-size: 20%;
  color: rgb(255, 255, 255);
  z-index: 1.1;
  padding-top: 1%;
}

.restartButton:hover {
  font-size: 22.5%;
  cursor: pointer;
}
/* --------------- From here only cards and "pools" are described. --------------- */

/* All properties of the prizepool. */
.prizepool {
  position: absolute;
  z-index: 1;
  width: 12.5%;
  height: 35%;
  border-radius: 5%;
  font-size: 90%;
}
.player2 .prizepool {
  background-color: rgb(51, 255, 0);
  color: rgb(51, 255, 0);
  margin: 1.5% 0 2.5% 2%;
}
.player1 .prizepool {
  background-color: rgb(255, 251, 0);
  color: rgb(255, 251, 0);
  margin: 4.5% 0 1.5% 2%;
}

/* All properties of the played card field. */
.playedpool {
  position: absolute;
  z-index: 1;
  height: 42.5%;
  width: 17.5%;
  border-radius: 5%;
  margin: 1.25% 0 0 22.5%;
}
.player2 .playedpool {
  background-color: rgb(0, 255, 98);
}
.player1 .playedpool {
  background-color: rgb(255, 252, 95);
}

/* All properties of the inventory. */
.inventory {
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 117.5%;
  border-radius: 3%;
}
.player2 .inventory {
  background-color: rgba(4, 114, 0, 0.7);
  top: -87.5%;
  right: -5%;
  overflow: hidden;
}
.player1 .inventory {
  background-color: rgba(255, 60, 0, 0.7);
  bottom: -87.5%;
  right: -5%;
}

/* All properties of the deck. */
.deck {
  width: 4.7%;
  height: 12%;
  border-radius: 7%; 
  position: absolute;
  right: 4%;
  background: rgb(150, 150, 150);
  font-size: 40%;
  color: rgb(0,0,0);
}
.player2 .deck {
  top: 32.5%;
}
.player1 .deck {
  bottom: 32.5%;
}

/* All properties of all the cards. */
.card {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.player2 .card {
  background-color: rgb(19, 77, 0);
}
.player1 .card {
  background-color: rgb(255, 30, 0);
}

.prizecard {
  width: 75%; /* 150px */
  height: 80%; /* 200px */ 
  margin: 12.5% 0 0 11.5%;
}

.playedcard {
  width: 75%; /* 200px */ 
  height: 85%; /* 275px */ 
  margin: 10% 0 0 12.5%;
}

.inventorycard {
  width: 22.5%; /* 200px */ 
  height: 35%; /* 275px */ 
}
.inventorycard1p2 {
  left: 7.5%;
  bottom: 5%;
}
.inventorycard2p2 {
  left: 35%;
  bottom: 5%; 
}
.inventorycard3p2 {
  left: 62.5%;
  bottom: 5%; 
}
.inventorycard1p1 {
  left: 7.5%;
  top: 5%;
  cursor: pointer;
}
.inventorycard2p1 {
  left: 35%;
  top: 5%;
  cursor: pointer;
}
.inventorycard3p1 {
  left: 62.5%;
  top: 5%;
  cursor: pointer;
}

/* */